In [96]:
import pandas as pd

In [97]:
path_file = '/content/drive/MyDrive/Dataset/olist_geolocation_dataset.csv'
df_olist = pd.read_csv(path_file, sep=',')

path_file = '/content/drive/MyDrive/Dataset/updt_geolocation.csv'
df_update = pd.read_csv(path_file, sep=',')

In [98]:
df_olist['geolocation_zip_code_prefix'] = df_olist['geolocation_zip_code_prefix'].apply(lambda cep: f'{cep}000')
df_olist['geolocation_zip_code_prefix'] = df_olist['geolocation_zip_code_prefix'].apply(pd.to_numeric) 
df_olist

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037000,-23.545621,-46.639292,sao paulo,SP
1,1046000,-23.546081,-46.644820,sao paulo,SP
2,1046000,-23.546129,-46.642951,sao paulo,SP
3,1041000,-23.544392,-46.639499,sao paulo,SP
4,1035000,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950000,-28.068639,-52.010705,tapejara,RS
1000159,99900000,-27.877125,-52.224882,getulio vargas,RS
1000160,99950000,-28.071855,-52.014716,tapejara,RS
1000161,99980000,-28.388932,-51.846871,david canabarro,RS
1000162,99950000,-28.070104,-52.018658,tapejara,RS

In [99]:
df_update.rename(columns={'cep': 'geolocation_zip_code_prefix'}, inplace = True)
df_update

      Unnamed: 0  geolocation_zip_code_prefix     up_lat    up_long
0              0                      1037000 -23.543923 -46.638145
1              1                      1046000 -12.840722 -38.468018
2              2                      1041000  -7.245589 -42.546978
3              3                      1035000 -23.309478 -45.983840
4              4                      1012000 -23.547028 -46.634901
...          ...                          ...        ...        ...
3671        3671                      9921000  -7.194001 -35.880450
3672        3672                      9943000 -23.549648 -46.874467
3673        3673                      9992000  -4.148400 -45.115516
3674        3674                      9963000 -23.702400 -46.595559
3675        3675                      9914000 -19.876835 -44.015576

[3676 rows x 4 columns]

In [100]:
df_merge = pd.merge(df_olist, df_update, on = 'geolocation_zip_code_prefix', how='left')
df_merge

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,Unnamed: 0,up_lat,up_long
0,1037000,-23.545621,-46.639292,sao paulo,SP,0.0,-23.543923,-46.638145
1,1046000,-23.546081,-46.644820,sao paulo,SP,1.0,-12.840722,-38.468018
2,1046000,-23.546129,-46.642951,sao paulo,SP,1.0,-12.840722,-38.468018
3,1041000,-23.544392,-46.639499,sao paulo,SP,2.0,-7.245589,-42.546978
4,1035000,-23.541578,-46.641607,sao paulo,SP,3.0,-23.309478,-45.983840
...,...,...,...,...,...,...,...,...
1000158,99950000,-28.068639,-52.010705,tapejara,RS,NaN,NaN,NaN
1000159,99900000,-27.877125,-52.224882,getulio vargas,RS,NaN,NaN,NaN
1000160,99950000,-28.071855,-52.014716,tapejara,RS,NaN,NaN,NaN
1000161,99980000,-28.388932,-51.846871,david canabarro,RS,NaN,NaN,NaN
1000162,99950000,-28.070104,-52.018658,tapejara,RS,NaN,NaN,NaN

In [101]:
df_extracao = pd.DataFrame()

df_extracao['geolocation_zip_code_prefix'] = df_merge['geolocation_zip_code_prefix']
df_extracao['geolocation_lat'] = df_merge['up_lat']
df_extracao['geolocation_lng'] = df_merge['up_long']
df_extracao['geolocation_city'] = df_merge['geolocation_city']
df_extracao['geolocation_state'] = df_merge['geolocation_state']
df_extracao['geolocation_lat_old'] = df_merge['geolocation_lat']
df_extracao['geolocation_lng_old'] = df_merge['geolocation_lng']

df_extracao.to_csv('/content/drive/MyDrive/Dataset/olist_geolocation_dataset_updt.csv')
df_extracao

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,geolocation_lat_old,geolocation_lng_old
0,1037000,-23.543923,-46.638145,sao paulo,SP,-23.545621,-46.639292
1,1046000,-12.840722,-38.468018,sao paulo,SP,-23.546081,-46.644820
2,1046000,-12.840722,-38.468018,sao paulo,SP,-23.546129,-46.642951
3,1041000,-7.245589,-42.546978,sao paulo,SP,-23.544392,-46.639499
4,1035000,-23.309478,-45.983840,sao paulo,SP,-23.541578,-46.641607
...,...,...,...,...,...,...,...
1000158,99950000,NaN,NaN,tapejara,RS,-28.068639,-52.010705
1000159,99900000,NaN,NaN,getulio vargas,RS,-27.877125,-52.224882
1000160,99950000,NaN,NaN,tapejara,RS,-28.071855,-52.014716
1000161,99980000,NaN,NaN,david canabarro,RS,-28.388932,-51.846871
1000162,99950000,NaN,NaN,tapejara,RS,-28.070104,-52.018658